@use 'mixins/adaptive-font' as *;

.banner {
	position: relative;
	margin-bottom: 20px;
	border-radius: 30px;
	padding: 60px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 0;
		border-radius: 30px;
		width: 100%;
		height: 100%;
		background: linear-gradient(to top right, rgb(0 0 0 / 100%) 0%, rgb(0 0 0 / 0%) 50%);
		pointer-events: none;
	}

	&__container {
		height: 100%;
	}

	&__content {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		gap: 65px;
		height: 100%;
		min-height: 450px;

		@media (max-width: 992px) {
			gap: 30px;
		}

		@media (max-width: 992px) {
			gap: 20px;
		}
	}

	&__title {
		margin: 0;
		font-weight: 800;
		font-size: 45px;
		line-height: var(--line-height);
		text-transform: uppercase;
		color: var(--light-color);
		@include adaptive-font(45, 28);
	}
}

.breadcrumbs {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	font-size: 12px;
	text-transform: uppercase;
	color: var(--light-color);
	gap: 5px 25px;

	&__link {
		flex-shrink: 0;
		font-weight: 300;

		&:hover {
			text-decoration: underline;
		}
	}

	&__current {
		flex-shrink: 0;
		font-weight: 500;
	}
}
