.contacts__cards {
	display: grid;
	align-items: stretch;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;

	@media (max-width: 1400px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (max-width: 768px) {
		grid-template-columns: repeat(1, 1fr);
	}
}

.contacts-card {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	border: 1px solid #dce0e9;
	border-radius: 30px;
	padding: 25px;
	width: 100%;
	background-color: var(--section-bg-color);
	gap: 10px;

	&__title {
		margin: 0;
		font-weight: 800;
		text-transform: uppercase;
		color: var(--bg-gray-color);
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 15px;
	}

	&__text {
		margin: 0;
		font-style: normal;
		text-decoration: none;
		color: #6d6d6d;
	}

	a.contacts-card__text {
		&:hover {
			text-decoration: underline;
		}
	}

	&__descr {
		font-weight: 600;
		text-transform: uppercase;
		color: var(--accent-color);
	}

	&:first-child {
		grid-column: 1/-1;
		max-width: 100%;

		@media (max-width: 1400px) {
			grid-column: auto;
		}
	}
}
