@use 'vars' as *;

.header {
	position: absolute;
	left: 50%;
	z-index: 10;
	width: 100%;
	max-width: 1400px;
	background-color: transparent;
	transform: translateX(-50%);

	&__container {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		padding: 15px 0;
		width: 100%;
		max-width: $container-width + px;
		gap: 20px;
	}

	&__menu {
		border-radius: 30px;
		padding: 10px 15px;
		background-color: var(--light-color);
	}

	&--sticky {
		position: sticky;
		transition: top 0.3s;
	}

	@media (max-width: 1440px) {
		padding: 0 60px;
	}
}
