<section class="section section--default" style="background-image: url('@img/exercises/bg.svg');">
	<div class="container">

		<div class="heading">
			<h3 class="heading__subtitle">Контакты</h3>
			<p class="heading__description">
				Мы всегда на связи в рабочее время 08:00-16:00 по МСК. Выберите удобный способ связи, будем рады ответить на
				любые
				вопросы!
			</p>
		</div>

		<div class="contacts">
			<div class="contacts__cards">
				<div class="contacts__card contacts-card contacts-card--width">
					<h4 class="contacts-card__title">Адрес</h4>
					<address class="contacts-card__text">17, ул. Краснооктябрьская, г. Майкоп, Республика Адыгея, Россия 385700
					</address>
				</div>
				<div class="contacts__card contacts-card">
					<h4 class="contacts-card__title">Телефон</h4>
					<div class="contacts-card__content">
						<a class="contacts-card__text" href="tel:+7933213433541">+ 7 (933) 213 433 541</a>
						<span class="contacts-card__descr">Ежедневно с 10:00 до 18:00</span>
					</div>
				</div>
				<div class="contacts__card contacts-card">
					<h4 class="contacts-card__title">Электронная почта</h4>
					<div class="contacts-card__content">
						<a class="contacts-card__text" href="mailto:expert@gmail.com">expert@gmail.com</a>
						<span class="contacts-card__descr">Свяжемся в течение 30 минут</span>
					</div>
				</div>
				<div class="contacts__card contacts-card">
					<h4 class="contacts-card__title">Время работы</h4>
					<div class="contacts-card__content">
						<p class="contacts-card__text">Пн - Пт: 9:00 - 18:00</p>
						<span class="contacts-card__descr">Сб - Вс: Срочные заказы</span>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>